{% extends 'index.html' %}

{% block body %}
<div class="g">
    <h1 class="d" style="color: black;padding:10px;background-color:antiquewhite;">Booking History</h1>
      <table class="table table-bordered text-center" style="width:80%">
          <thead class="thead-dark">
              <tr>
                  <th scope="col" style="width:50px">Room No.</th>
                  <th scope="col" style="width:20px">From Date</th>
                  <th scope="col" style="width:60px">From Time</th>
                  <th scope="col" style="width:60px">To Date</th>
                  <th scope="col" style="width:60px">To Time</th>
                  <th scope="col" style="width:60px">Name</th>
                  <th scope="col" style="width:60px">Phone</th>
              </tr>
          </thead>
          <tbody>
              {% for x,a,b,c,d,e,f,g,h in list %}
              <tr>
                  <td>{{  a  }}</td>
                  <td>{{  b  }}</td>
                  <td>{{  c  }}</td>
                  <td>{{  d  }}</td>
                  <td>{{  e  }}</td>
                  <td>{{  f  }}</td>
                  <td>{{ h }}</td>
                  
              </tr>
              {% endfor %}
          </tbody>
      </table>  
    </div>
    {% endblock  %}